


#bg3{
  
    background-image:url(../../components/images/bg3.jpg);
  object-fit: scale-down;
    background-repeat:no-repeat;
    background-size:cover;
   
    height:120vh;
    width:100%;
  }


  li#home_li_3p3 a {
    text-decoration: none;
    color: #Db7429;
    font-size: 21px;
    font-weight:400;
    transition:0.4s;
  }
  li#home_li_3p3 a:hover{color:#fff}
  li#home_li_3p3 {
    width: 200px;
    margin-left: 144px;
    transform: rotate(-14deg);
    margin-top: 34px;
  }
  li#home_li_4 a {
    text-decoration: none;
    color: #Db7429;
    font-size: 21px;
    transition:0.4s;
  }

  li#home_li_1p1 a {
    text-decoration: none;
    color: #42ffff;
    font-family: ''Mulish',sans-serif';
    font-size: 30px;
  }
  li#home_li_1p1 a:hover{color:#fff}
  
  li#home_li_1p1 {
    margin-top: 203px;
    width: 200px;
    margin-left: 80px;
    transform: rotate(-32deg);
  }










  @media screen and(max-width: 1365px){
    li#home_li_1p1 {
      margin-top: 237px;
      width: 200px;
      margin-left: 80px;
      transform: rotate(-34deg);
  }
  #bf{background-position:center;}
  li#home_li_4 {
    width: 200px;
    margin-left: 185px;
    margin-top: 62px;
  }
  }









@media screen and (max-width: 1169px){
    #bg3 {
      
      height: 86vh;
      background-position: center;
      width: 100%;
  }

  li#home_li_1 {
    margin-top: 226px !important;
    width: 200px;
    margin-left: 80px;
    transform: rotate(-32deg);
  }
}













@media screen and (max-width:768px){

    section#bg .container {
        height: 100vh;
      }
      
    #bg3{background-position:center;    height: 80vh;}
    div#third_img img {
      margin-left:0px;
      padding: 51px 0px;
      width: 300px;
      
  }
  #bg3{background-position:center;    height: 80vh;}
}

/* 


<nav id='nav1' class="navbar navbar-expand-lg navbar-light">
                
<a class="navbar-brand" href="#"> <img  src="images/firstPage/logo2.png" alt="logo"/></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse container m-auto  row navbar-collapse" id="navbarSupportedContent">
             
                   
                   <div className="col-6 nav_right">
                          <button style={{color:'#fff', }} onClick={op} id="open"><MenuOpenIcon style={{fontSize:'36px'}}/></button>
                         <ul style={{display:openMenau,}} id="main_menu">
                         <button style={{color:'#fff', }} onClick={cl} id="close"><MenuIcon style={{fontSize:'36px'}}/></button>

                             <li><a href="#third">What dow we do </a></li>
                              <li><a href="#four">Concepts</a></li>
                              <ul id="the_menu">
<li id="home_li1" className="home_li"><Link to="team">Team</Link></li>
<li id="home_li2" className="home_li"><a href="#">Product</a></li>
<li id="home_li3" className="home_li"><a target='_blank' href="https://ellenmacarthurfoundation.org">Vision</a></li>
<li id="home_li4" className="home_li"><a href="#">Contact</a></li>
</ul>
                         </ul>
                        
                   </div>
               </div>

            </nav> */