.price-like.d-flex.justify-content-between.align-items-center a {
    visibility: hidden;
}
.nft-item-top.d-flex.justify-content-between.align-items-center {
    visibility: hidden;
    height: 13px;
}
ul.nft-countdown.count-down {
    visibility: hidden;
}

.post-thumb img {
    height: 391px;
}
.author-thumb {
    visibility: hidden;
}
li.social-link a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
li.social-link {
    position: relative;
}
.wallet-thumb a img {
    width: 112px;
    height: 112px;
}
.header__logo a img {
    height: 70px;
    width: auto;
}
