*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  font-family: 'Mulish', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');
p#footer_links a {
  text-decoration: none;
  color: #fff;
}
body{font-family: 'Mulish', sans-serif;}
p#footer_links {
  display: flex;
  flex-direction: column;
}
#footer_links a:hover{color:#DB7429}
.col-6.nav_right {
  text-align: right;
  display: flex;
  justify-content: right;
}

.col-6.nav_right ul {
  display: flex;
  align-items: center;
  margin-bottom:0px;
}
.col-6.nav_right ul li {
  list-style: none;
  margin: 0px 13px;
}
.col-6.nav_right ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.col-6.nav_right ul li a:hover{color: #DB7429;}
nav{background:#020205;height:91px}
.col-6.logo img {
  height: 60px;
}

.col-6.logo {
  height: 91px;
  display: flex;
  justify-content: start;
  align-items: center;
}
#bg{
  
  background-image:url(../src/components/images/bg.png);
object-fit: scale-down;
  background-repeat:no-repeat;
  background-size:cover;
 background-position:center;
  height:120vh;
  width:100%;
}

ul#the_home_menu {
  
  list-style-type: none;
  text-align: right;
  margin-left: 54px;
}
li#home_li_1 a {
  text-decoration: none;
  color: #DB7429;
  font-family: ''Mulish',sans-serif';
  font-size: 21px;
}
li#home_li_1 a:hover{color:#fff}

li#home_li_1 {
  margin-top:191px;
  width: 200px;
  margin-left: 80px;
  transform: rotate(-32deg);
}
li#home_li_2 a {
  color: #DB7429;
  text-decoration: none;
  font-size: 19px;
  transition:0.4s;
}
li#home_li_2 a:hover{color:#fff}
li#home_li_2 {
  width: 200px;
  transform: rotate(-25deg);
  margin-top: 18px;
  margin-left: 130px;
}
li#home_li_3 a {
  text-decoration: none;
  color: #42FFFF;
  font-size: 30px;
  font-weight:400;
  transition:0.4s;
}
li#home_li_3 a:hover{color:#fff}
li#home_li_3 {
  width: 200px;
  margin-left: 177px;
  transform: rotate(-14deg);
  margin-top: 9px;
}
li#home_li_4 a {
  text-decoration: none;
  color: #Db7429;
  font-size: 21px;
  transition:0.4s;
}

li#home_li_4 {
  width: 200px;
  margin-left: 185px;
  margin-top: 35px;
}li#home_li_4 a {
  text-decoration: none;
  color: #Db7429;
  font-size: 21px;
  transition:0.4s;
}
li#home_li_4 a:hover{color:#fff}
li#home_li_4 {
  width: 200px;
  margin-left: 185px;
  margin-top: 44px;
}
.home_li a:hover{color:#fff;}
div#home_right h3 {
  margin-top: 150px;
  color: #fff;
  font-weight:700;
  letter-spacing:2px;
}
div#home_right p{color:#fff;}
div#home_right a{text-decoration:none; color:#42FFFF}
#second_sec{
  
  padding: 97px 0px;
  height: auto;
  background: #020205;
display:flex;
align-items:center;
justify-content: center;
color:#fff;
text-align: center;
}
.texi_content p {
  margin-bottom: 0px;
  text-align: center;
}
.texi_content {
  margin-top: 42px;
  position:relative;
}

#third{
 
  height: 521px;
  width: 100%;
  background: #484848;
}
#third_img{
  height:100%;
  display:grid;
  place-items: center;
}
#third_text{
  height: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 122px;
  align-items: start;
}

#third_container{
  height:100%
}
div#third_text h3 {
  color: #fff;
  font-weight: 700;
  margin-bottom: -15px;
  letter-spacing: 2px;
  font-size: 33px;
}span#wt {
  width: 41px;
  height: 7px;
  background: #DB7429;

  border-radius: 11px;
  margin: 25px 0px ;
}
.third_text_wrapper {
  color: #fff;
  line-height: 19px;
}
div#third_img img {
    width: 366px;
    border-radius: 141px;
    margin-left: 174px;
}

#four{
  padding:160px 0px;
  height:auto
;background: #020205;
display:flex;
align-items:center;
justify-content: center;
color:#fff;
text-align: center;
}
.col-12.col-md-8.col-lg-8.col-xl-8.m-auto h3:after {
  
  bottom: -27px;
  left: 46%;
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 41px;
  height: 7px;
  background: #42ffff;
}

#five{
  height:539px;
  width:100%;
  background: #484848;
}
div#five_img img {
  
  margin-top: 132px;
  width: 306px;
}

#footer1{
  
  height:290px
;background: #020205;
display:flex;
align-items:center;
justify-content: center;
color:#fff;
text-align: center;
}
div#footer_left {
  text-align: start;
}
div#footer_left p {
  margin-top: 26px;
}
a#cola {
  text-decoration: none;
  color: #fff;
}
a#cola:hover {
 
  color: #Db7429;;
}
#the_menu{display:none;}


button#close{display:none;}

button#open{display:none}


ul#the_home_menu {
  list-style-type: none;
  text-align: right;
  margin-left: 134px;
}

.third_text_wrapper p {

  letter-spacing: 1px;
 
  line-height: 36px;

}
span#space {
  margin-right: 28px;
}
p.text-center {
  line-height: 32px;
  letter-spacing: 2px;
}


#item  div {
  display: flex !important;
}
#item{display:flex}

.nav.false {
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}






@media screen and(max-width: 1365px){
  li#home_li_1p1 {
    margin-top: 237px;
    width: 200px;
    margin-left: 80px;
    transform: rotate(-34deg);
}
#bf{background-position:center;}
li#home_li_4 {
  width: 200px;
  margin-left: 185px;
  margin-top: 62px;
}
}



@media screen and (max-width: 1169px){
  #bg {
    
    height: 86vh;
    background-position: center;
    width: 100%;
}
  #five {
    height: auto;
    width: 100%;
    background: #484848;
}
  div#third_img img {
    
    box-shadow: 0px 0px 128px #082f5a;
    
    width: 366px;
    border-radius: 141px;
    margin-left: 0px;
}
  #bf{background-position:center;}
  ul#the_home_menu {
    margin-left: 132px;
}
  li#home_li_4 {
    width: 200px;
    margin-left: 185px;
    margin-top: 62px;
}
li#home_li_1 {
  margin-top: 226px !important;
  width: 200px;
  margin-left: 80px;
  transform: rotate(-32deg);
}
li#home_li_4 {
  width: 200px;
  margin-left: 210px;
  margin-top: 85px;
  transform: rotate(-18deg);
}




}










@media screen and (max-width:992px){
  .sc-iCfMLu.gZZBOx.rec.rec-pagination {
    display: none;
}
div#third_container\ carousel {
  padding: 0px !important;
}
element.style {
  display: none;
}
.sc-jRQBWg.qoLPS.rec.rec-carousel-wrapper {
  padding: 0px;
}

.fPDpuU {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 0px;
}


  ul#the_home_menu {
    list-style-type: none;
    text-align: right;
    display: none;
}
  #the_menu{display:none;}
















  ul#main_menu {
    position: absolute;
    background:#020205;
    width: 100%;
    transition:0.9s;
    z-index:4;
    display: flex;
    flex-direction: column;
    left: 0%;
    top: 0%;
    height:100vh;
    padding:16px 0px;
  }
  ul#the_menu {
    transition:0.5s;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
  ul#the_menu li a {
    font-size: 20px;
  }
  
  ul#the_menu li {
    margin-top: 37px;
    text-align: center;
  }
  
  ul#main_menu li a {
    font-size: 23px;
    font-weight: bold;
  }
  
  ul#main_menu li {
    margin-top: 29px;
  }
  button#close {
    display:block;
    z-index: 24;
    position:absolute;
    top:2%;
    right:5%
  ;
    border: none;
    background: transparent;
    outline: none;
  
    top: 5%;
    right: 5%;
  }
  
  button#open {
    display:block;
    z-index:1;
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  
  button#open {
    border: none;
    outline: none;
    background: transparent;
  }
  
  







}







.texi_content p {
  line-height: 35px;
  font-size: 25px;
  text-transform: lowercase !important;
  font-family: 'Mulish', sans-serif;
}


.col-12.col-md-8.col-lg-8.col-xl-8.m-auto h3 {
  font-size: 37px;
  font-weight: bold;
}
.third_text_wrapper {
  letter-spacing: 0px;
  font-size: 20px;
}
p, h3,span,a,li,div{
  text-transform: capitalize;


}







@media screen and (max-width:768px){
 




  section{overflow:hidden}
  div#home_right {
    overflow: hidden ;
}
  .col-12.col-md-8.col-lg-8.col-xl-8.m-auto {
    padding: 0px !important;
}
  .col-12.col-md-8.col-lg-8.col-xl-8.m-auto h3:after {
    bottom: -27px;
    left: 0% !important;
    content: "";
    position: absolute;
    border-radius: 4px;
    width: 41px;
    height: 7px;
    background: #42ffff;
}
  .col-12.col-md-8.col-lg-8.col-xl-8.m-auto h3 {
    font-size: 31px;
    text-align: start !important;
    font-weight: bold;
}
  #four {
    height: auto  !important;
    padding: 55px 0px  !important;
    background: #020205;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
  div#five_img img {
    margin-top: 0px;
    width: 283px;
}
  #third_text { 
    height: auto;
    flex-direction: column;
    display: flex;
    margin-top: 0px !important;
    padding: 0px !important;
    align-items: start;
}
  #second_sec {
    height: auto;
    padding: 55px 0px;
    background: #020205;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
  .col-6.logo img {
    height: 60px;
    width: 155px;
}
  .container{padding:0px;}
  #third_container {
    height: auto;
    padding-bottom: 41px;
}
  .third_text_wrapper {
    letter-spacing: 0px;
    font-size: 11px;
}
.texi_content p {
  text-align:start  !important;
  font-weight: bold;
  line-height: 25px;
  font-size: 14px;
}
  .third_text_wrapper p {
    margin-bottom: 0px;
    line-height: 22px;
    font-size: 17px;
    font-weight: bold;
}
  div#third_img img {
    box-shadow: none;
    width: 300px;
border-radius: none;
    margin-left: 174px;
}
  div#home_right p {
    font-size: 20px;
    font-weight: bold;
}
  div#home_right h3 {
    margin-top: 150px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
  #bg{background-position:center;    height: 80vh;}
  div#third_img img {
    margin-left:0px;
    padding: 51px 0px;
    width: 300px;
    
}
#third{height:auto}
#five {
  height: auto;
  width: 100%;
  padding-bottom: 22px;
  background: #484848;
}
div#five_img {
  
  display: grid;
  place-items: center;
  height: 336px;
}
div#home_links {
  display: none;
}

div#home_right {
  height: 100%;
  display: grid;
  /* align-items: center; */
  place-items: center;
}
section#bg .container {
  height: 50vh;
}





















ul#main_menu {
  position: absolute;
  background:#020205;
  width: 100%;
  transition:0.9s;
  z-index:4;
  display: flex;
  flex-direction: column;
  left: 0%;
  top: 0%;
  height:100vh;
  padding:16px 0px;
}
ul#the_menu {
  transition:0.5s;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

ul#the_menu li a {
  font-size: 20px;
}

ul#the_menu li {
  margin-top: 37px;
  text-align: center;
}

ul#main_menu li a {
  font-size: 23px;
  font-weight: bold;
}

ul#main_menu li {
  margin-top: 29px;
}
button#close {
  display:block;
  z-index: 24;
  position:absolute;
  top:2%;
  right:5%
;
  border: none;
  background: transparent;
  outline: none;

  top: 5%;
  right: 5%;
}

button#open {
  display:block;
  z-index:1;
  border: none;
  background: transparent;
  outline: none;
  position: absolute;
  top: 5%;
  right: 5%;
}

button#open {
  border: none;
  outline: none;
  background: transparent;
}












}
@media screen and (max-width:600px){
  .third_text_wrapper {
    padding: 0px 3px;
    letter-spacing: 0px;
    font-size: 11px;
}
  .hUrpyo {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px -30px !important;
}

  .card1, .card2, .card3, .card4{
    flex-direction:column;
  }
  
  
}
@media screen and (max-width:400px){
  .fPDpuU {
    overflow: hidden;
   
    position: relative;
    width: 100%;
    margin: 0 -15px;
}
  .hUrpyo {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0px -15px !important;
}
  #third_text {
    height: auto;
    flex-direction: column;
    display: flex;
    margin-top: 0px;
    padding: 0px;
    align-items: start;
}
  nav, section, div {
    overflow: hidden;
}
#third_img {
  height: 100%;
  display: grid;
  place-items: center;
  display: none;
}
#third_text {
  height: auto;
  flex-direction: column;
  display: flex;
  margin-top: 37px;
  align-items: start;
}
#four{
  height:auto;
  padding:10px 0px;
}
.third_text_wrapper.aos-init.aos-animate {
  margin-top: -23px;
}

.container {
  padding: 0px;
}
  div#five_img img {
    margin-top: 0;
    width: 222px;
    margin-left: 15px;
}

}


